.container {
  width: 25vw;
  height: 50vh;
}

.container .swiper {
  width: 100%;
  height: 100%;
}

.container .swiper-slide {
  background-color: rgb(238, 238, 238);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .swiper-button-next {
  color: #4a905d;
  right: 0;
}