.button {
  background-color: #fcb0d8;
  border: 1px solid #fcb0d8;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color:#fda7d5;
}
